<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urjc.noteprototype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.urjc.noteprototype.InitWindows"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.noteprototype.MenuApp"
            android:label="@string/menu" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.note.EditNote"
            android:label="@string/butMenu1" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.pwd.EditPwd"
            android:label="@string/butMenu2" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.pwd.ViewPwd"
            android:label="@string/butMenu2" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.note.NoteList"
            android:label="@string/butMenu1" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.pwd.PasswordsList"
            android:label="@string/butMenu2" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.shoplist.BuyList"
            android:label="@string/shopList" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.shoplist.EditBuy"
            android:label="@string/shopList" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.shoplist.BuyElemList"
            android:label="@string/elemList" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.task.TaskList"
            android:label="@string/tasks" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.task.EditTask"
            android:label="@string/task"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.shoplist.EditElement"
            android:label="@string/elemList"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.recipe.RecipeList"
            android:label="@string/recipes" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.recipe.FileChooser"
            android:label="@string/recipes" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.recipe.EditRecipe"
            android:label="@string/recipes" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.account.AccList"
            android:label="@string/accounts" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.account.EditAcc"
            android:label="@string/accounts" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.account.TableAccount"
            android:label="@string/accounts" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.account.AccElemList"
            android:label="@string/accounts" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.account.EditElementAcc"
            android:label="@string/accounts" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.AboutApp"
            android:label="@string/about_tit"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.iefile.ChargeFile"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.nfh"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/nfh" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.noteprototype.iefile.FileInputChooser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.urjc.noteprototype.HelpActivity"
            android:label="@string/menu_help" >
        </activity>
    </application>

</manifest>